div {
    font-size: 15pt;
    width: 150px;
    margin: 0 auto;
}
submission {
  text-align: center;
  }
}

head {
    font-family: arial, sans-serif;
    font-size: 20pt;
    text-align:center;
}
header {
     font-family: arial, sans-serif;
    font-size: 20pt;
    text-align:center;
}
